.course-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
}
.course-page__head{
    font-size: 32px;
    font-weight: normal;
    horiz-align: center;

}
.course-page__task-list{
    margin: 0;
    padding: 0;
    list-style: none;
}