.input-block {
    margin-bottom: 1rem;
}

.input-block>label {
    display: block;
    margin-bottom: 0.25rem;
}

.input-block>input {
    display: block;
    width: 87.5%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-block>input::placeholder {
    color: #212529;
    opacity: 0.4;
}